// breakpoint mixins

$breakpoints: (
  'xs-phone': 320px,
  'phone': 375px,
  'tablet': 768px,
  'lg-tablet': 960px,
  'desktop': 1024px,
  'md-desktop': 1200px,
  'sm-laptop': 1320px,
  'laptop': 1480px,
  'widescreen': 1920px
);

@mixin media($size) {
  $breakpoint-value: map-get($breakpoints, str-slice($size, 3));

  @if str-index($size, '>=') {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else if str-index($size, '<=') {
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error "Unknown size: #{$size}. Please use one of the defined breakpoints.";
  }
}

// transition mixin
@mixin transition($properties, $duration: $animation-speed, $easing: $transition-duration-base) {
  $list: ();
  @each $prop in $properties {
    $str: #{$prop} #{$duration} #{$easing};
    $list: join($list, #{$str}, comma);
  }
  transition: $list;
}