// Color system

$white: #fff;
$black: #000;
$black-02: #1e1e1e;

$yellow: #dfc01f;

$primary: $black;
$secondary: $yellow;

$body-bg: $white;



// Font/typography
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Anton', sans-serif;
$font-family-tertiary: 'Nanum Pen Script', sans-serif;
$base-font-path: '../fonts';

$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;


// link reset
// $link-color: $secondary;
$link-decoration: none;

// border radius
$rounded-circle: 50%;

// transition
$animation-speed: 0.3s;
$transition-duration-base: ease;
