.contact-content {
  text-align: center;

  p {
    max-width: 994px;
    margin: 0 0 30px;

    a {
      color: $secondary;
    }
  }

  .btn {
    display: block;
    margin: 0 auto;

    @include media('>=phone') {
      display: inline-block;
    }
  }
}