.meet-me {
  position: relative;
  top: 0;
  left: 0;
  padding: 60px 0;
  align-items: center;
  justify-content: space-between;

  @include media('>=tablet') {
    margin: 0 -30px;
  }

  @include media('>=desktop') {
    margin: 0 -30px;
    padding: 100px 0;
  }

  &:before {
    content: '';
    width: 110vw;
    height: 100%;
    background-color: $primary;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__picture {
    width: 100%;
    margin: 0 0 30px;

    @include media('>=tablet') {
      width: 40%;
      padding: 0 30px;
      margin: 0;
    }

    @include media('>=desktop') {
      width: 45%;
    }
  }

  .img-holder {
    position: relative;

    img {
      width: 100%;
    }

    span {
      font-family: $font-family-tertiary;
      color: $secondary;
      font-size: 30px;
      position: absolute;
      top: -20px;
      right: -10px;
      transform: rotate(10deg);
      letter-spacing: 1px;

      @include media('>=desktop') {
        font-size: 50px;
        right: -90px;
      }
    }
  }

  &__description {
    width: 100%;

    @include media('>=tablet') {
      width: 60%;
      padding: 0 30px;
    }

    @include media('>=desktop') {
      width: 50%;
    }

    p {
      font-weight: $font-weight-light;
      color: $white;
      margin: 0;
    }
  }
}