.packages-section {
  margin: 0 0 100px;
}

.package {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 60px;

  @include media('>=tablet') {
    margin: 0 -30px 50px;
  }
}

.package--img {
  margin: 0 0 20px;
  
  @include media('>=tablet') {
    width: 50%;
    padding: 0 30px;
    margin: 0;
  }

  img {
    box-shadow: 0 4px 6px 1px rgba($primary, 0.43);
  }
}

.package--description {

  @include media('>=tablet') {
    width: 50%;
    padding: 0 30px;
  }

  h3 {
    line-height: 1;
    font-size: 25px;
    
    @include media('>=tablet') {
      font-size: 30px;
    }
  }

  ul {
    margin: 0 0 40px;
    padding: 0 0 0 16px;

    li {
      margin: 0 0 4px;
      position: relative;
      top: 0;
      left: 0;

      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: -16px;
        background-color: $primary;
        display: block;
        border-radius: $rounded-circle;
        width: 4px;
        height: 4px;
      }
    }
  }


  p {
    margin: 0 0 20px;
    font-style: italic;
  }
}