.accordion-header {
  background-color: $primary;
  border-bottom: 1px solid $white;

  @include media('>=tablet') {
    min-height: 800px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-left: 1px solid $white;
  }

  .active & {
    background-color: $white;
  }

  h3 {
    color: $white;
    margin: 0;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    .active & {
      color: $primary;
    }
  }
}


.accordion-content {
  padding: 20px 20px 40px 20px;

  @include media('>=tablet') {
    border: 1px solid $primary;
  }
}

.accordion-content__img {
  padding: 12px 12px 70px 12px;
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.43);
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 30px;
  width: 100%;

  @include media('>=tablet') {
    max-width: 356px;
  }

  span {
    position: absolute;
    left: 22px;
    bottom: 22px;
    font-family: $font-family-tertiary;
    text-transform: uppercase;
    transform: rotate(-10deg);
    font-size: 50px;
  }
}

.accordion-content__description {
  width: 100%;
  max-width: 500px;

  .btn {
    display: block;

    @include media('>=tablet') {
      display: inline-block;
    }
  }
}