.accordion {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.accordion-item {
  display: flex;
  flex-direction: row;
  transition: flex 0.3s ease;
  position: relative;
}

.accordion-header {
  cursor: pointer;
  font-weight: bold;
  padding: 20px;
  transition: background-color 0.3s ease;
  
  @include media('>=tablet') {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

.accordion-content {
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
}

.accordion-item.active .accordion-content {
  display: flex;
}

.accordion-item.active {
  flex: 5;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
  }

  .accordion-item {
    width: 100%;
    flex-direction: column;
  }

  .accordion-content {
    display: none;
  }

  .accordion-item.active {
    flex: 1;
  }

  .accordion-item.active .accordion-content {
    display: block;
  }
}

