body {
  background-color: #fff;
  min-width: 320px;
  font-family: $font-family-primary;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

button, 
select, 
input, 
textarea {
  font-family: inherit;
  font-size: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
