.filter {
  margin: 0 0 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      @include transition(border-color color background-color);
      padding: 8px 20px;
      font-size: 12px;
      background-color: $primary;
      color: $white;
      margin: 0 10px 10px 0;
      border: 1px solid transparent;
      cursor: pointer;
      user-select: none;
      text-transform: lowercase;
      letter-spacing: 1px;

      @include media('>=tablet') {
        font-size: 14px;
      }

      &:hover {
        border-color: $primary;
        background-color: transparent;
        color: $primary;
      }

      &.active-filter {
        color: $primary;
        background-color: transparent;
        border-color: $primary;
        cursor: auto;
      }
    }
  }
}