.gallery-grid {
  width: 100%;
  visibility: visible;
  transition: visibility 0s 0.5s;

  @include media('>=phone') {
    width: calc(100% + 10px);
  }
}

.gallery-grid-item {
  width: 100%; 
  margin-bottom: 10px;
  
  @include media('>=phone') {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  @include media('>=tablet') {
    width: calc(33.33% - 10px);
  }
}
