.running-line {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 0 50px;
}

.content {
  display: flex;
  width: 200%;
  animation: runningText 10s linear infinite;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;

  p {
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 50px;
  }
}

.content p {
  white-space: nowrap; /* Запрещаем перенос строки */
  margin: 0;
}

@keyframes runningText {
  0% {
    transform: translateX(0); /* Начинаем анимацию с начальной позиции */
  }
  100% {
    transform: translateX(-50%); /* Перемещаем текст на половину ширины контейнера */
  }
}

