.slick-holder {
  position: relative;

  .slick-dots {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;

    li {
      display: inline-block;
      margin: 0 10px;

      &.slick-active {
        button {
          background-color: #2f2fd1;
        }
      }
      
      button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
        padding: 0;
        font-size: 0;
        color: transparent;
        outline: none;
        border: 0;
      }
    }
  }


  &-slide {
    display: block !important;
    
    img {
      display: block;
      width: 100vw;
      height: 400px;
      object-fit: cover;
    }
  }
}

.slick-slide div {
  height: auto !important;
}
