.slick-slide {
  img {
    display: inline-block !important;
  }
}

.slick-arrow {
  @include transition(color);
  position: absolute;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
  color: $primary;
  font-size: 30px;
  padding: 0;
  line-height: 1;

  &:hover {
    color: $secondary;
  }

  &.slick-prev {
    left: 35%;

    @include media('>=tablet') {
      left: 45%;
    }
  }

  &.slick-next {
    right: 35%;

    @include media('>=tablet') {
      right: 45%;
    }
  }

  &.slick-disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      color: $primary;
    }
  }
}

.slick-dots {
  @extend .list-reset;
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 99;
  transform: translate(0 -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    @include transition (background-color);
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;

    &:hover  {
      background-color: rgba($primary, 0.5);
    }

    &.slick-active {
      background-color: $primary;
    }

    button {
      display: none;
    }
  }
}

.hero-slider {
  .slick-dots {
    li {
      background-color: $white;

      &:hover  {
        background-color: rgba($primary, 0.5);
      }

      &.slick-active {
        background-color: $primary;
      }
    }
  }
}

.advantages-slider {
  .slick-dots {
    z-index: 999;
    li {
      background-color: $white;
      border: 1px solid $primary;

      &:hover  {
        background-color: rgba($primary, 0.5);
      }

      &.slick-active {
        background-color: $primary;
      }
    }
  }
}

.gallery-slider {
  margin: 0 auto;
  position: relative;
  padding: 0 0 200px;
  
  @include media('>=tablet') {
    overflow-x: clip;
    max-width: 95%;
  }

  .slick-track {
    align-items: center;
  }
}

.gallery-slide {
  cursor: pointer;

  &.slick-current {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: auto;

    .img-holder {
      transform: scale(1.4);

      &:before {
        background-color: transparent;
      }
    }
  }

  .img-holder {
    position: relative;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($primary, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      transition: background-color 0.3s ease;
    }

    img {
      object-fit: cover;
      width: 300px;
      height: 300px;

      @include media('>=tablet') {
        width: 400px;
        height: 400px;
      }
    }
  }
}